{% extends "base.html" %}
{% block title %}
Edit daily report
{% endblock %}

{% block content %}


<div class="container">
  <div class="h2">
    Daily Report
  </div>
  <br><br><br>
  <form action="{% url 'cases:updateDailyReport' %}" method="post">

    {% csrf_token %}

         
        <div class="form-group">
            <label class="label">Paste Data here (json):</label>
            <div class="control">
                <Textarea class="form-control" name='daily_report' required></Textarea>
            </div>
          </div>



         

        <div class="form-group">
            
              <button type="submit" class="btn btn-success">Save</button>
           
              <a href="../" class="btn btn-secondary">Cancel</a>
            
          </div>
        
        
    </form>
</div>
{% endblock %}