{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Covid19</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>

        {% if user.is_authenticated %}

            <span class="btn btn-outline-secondary my-2 my-sm-0" >{{ user.first_name  }} {{ user.last_name }} <i class="fa fa-user-circle" aria-hidden="true"></i></span>
            &nbsp;
            <a href="/logout"><button class="btn btn-outline-danger my-2 my-sm-0" >Logout <i class="fa fa-sign-out" aria-hidden="true"></i></button></a>
        {% else %}
            <a href="/login"><button class="btn btn-outline-success my-2 my-sm-0" >Login <i class="fa fa-sign-in" aria-hidden="true"></i>
            </button></a>
        {% endif %}
        
        
    </div>
</nav>










<div class="container">

    
    

    <div class="row">

        <div class="col-sm">
            <div class="row ">
                <div class="col py-2 ">
                    <div class="card border-primary">
                
                        <div class="card-body">
                            <h4 class="card-title">6195</h4>
                            <span class="card-text ">+225</span>
                            <br>
                            <span class="text-primary">Total Confirmed</span> 
                        </div>
                        
                    </div>
                </div>
            

                <div class="col  py-2">
                    <div class="card border-warning">
                            
                        <div class="card-body">
                            <h4 class="card-title">2605</h4>
                            <span class="card-text ">+99</span>
                            <br>
                            <span class="text-warning">Active Cases</span> 
                            
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col py-2">
                    <div class="card border-success ">
                
                        <div class="card-body">
                            <h4 class="card-title">3559</h4>
                            <span class="card-text ">+126</span>
                            <br>
                            <span class="text-success">Recovered</span> 
                            
                        </div>
                        
                    </div>
                </div>
                <div class="col py-2">
                    <div class="card border-danger">
                        <div class="card-body">
                            <h4 class="card-title">27</h4>
                            <span class="card-text ">+0</span>
                            <br>
                            <span class="text-danger">Death</span> 
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        
        
            
        
            
        
        <div class="col-sm">
            {% if d %}
    



            <table class="table table-striped table-hover ">
                <tr>
                    <th>District</th>
                    <th>Confirmed</th>
                    <th>Recovered</th>
                    
                    <th>Death</th>
                    <th>Active</th>
                    {% if user.is_authenticated %}
                        <th></th>
                    {% endif %}
                </tr>
                {% for d in d %}
                <tr>
                    <td><a href="{% url 'cases:districtwise'  d.id %}">{{ d.name }}</a></td>
                    <td> {{ d.Confirmed }} </td>
                    <td> {{ d.Recovered }} </td>
                    <td> {{ d.Death }} </td> 
                    <td> {{ d.Active }} </td>
                    {% if user.is_authenticated %}
                        <td> <a href="/edit/{{ d.id }}"><i class="fa fa-pencil-square" aria-hidden="true"></i> </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>


            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>
    </div>


</div>
{% endblock %}




